!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        

        <nav>
            <ul>
              
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    @RenderSection("Scripts",false)
</body>
</html>