<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />

    <meta name="viewport" content="width=device-width" />
    <title>"Hot Talk"</></title>

    
</head>
 
<body>
    <h1>Welcome to "Hot Talk"</h1>
   <h2>Where Authors who are fired up make statements to either fire you up too.. or want to light a fire under them</h2>
   <h3>Feel free to climb any hill and shout your ideals.. Just be ready to defend them</h3>
    <header>
        
        <nav>
            

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
                        </li>

                        
                    </ul>
                </div>

      
            <img src="img/shout3.jpg" alt="" >

           
        </nav>
    </header>
    <main>
    
    </main>
    <footer>
      
        
  
    </footer>
  
</body>
</html>